html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 4rem;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  position: absolute;
  bottom: 0;
}

span {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 2rem;
  position: absolute;
  bottom: 0;
  width: 60%;
}

.banner {
  max-width: 50em;
}

.img-flex {
  display: block;
  width: 100%;
  max-height: 500px;
}
