html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

div {
  overflow: hidden;
  position: relative;
  margin: 0;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 4rem;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  margin: 0;
  position: absolute;
  top: 1%;
  left: 3%;
}

p {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 2rem;
  margin: 0;
  position: absolute;
  left: 3%;
  bottom: 10%;
}

.banner {
  max-height: 500px;
}

.img-flex {
  display: block;
  width: 100%;
}
